# One shell glob pattern per line
about.html
contents.html
contents/
contributors.html
Dictionary*
.eslintcache
FOLDOC.org
foldoc.tar*
help.html
keys
logs
lunch/data/*-*
make.out
Misc
missing.html
new.html
node_modules
offsets
\!Old
private
_pub/games/wordle
rss.xml
sitemap.txt
source.html
.vscode
