# One shell glob pattern per line
about.html
contents.html
contents/
contributors.html
Dictionary.*
.eslintcache
foldoc.tar*
help.html
keys
logs
make.out
missing.html
offsets
private
rss.xml
sitemap.txt
source.html
tailortravels.co.uk
